html {
	overflow: hidden;
}

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

h1 {
	color: black;
}

a:link,a:visited,a:hover,a:active {
	color: black;	
}

.menuButton{
	font-weight: bold;
	font-size: 23px;
	top:10px;
	bottom: 10px;
}


#image {
	padding: 0;
	padding-top: 10px;
	padding-left: 10px;
	margin: 0;
	top: 100px;
	left: 10px;
	bottom: 20px;
	width: 140px;
	height: 135px;
	font-size: 35px;
	background: #fefeef;
}

#content {
	padding: 0;
	padding-top: 10px;
	padding-right: 10px;
	margin-left: 155px;
	margin-top: -145px;
	left: 10px;
	right: 120px;
	height: 500px;
	bottom: 20px;
	overflow: auto;
	background: #fefeef;
}
#footer{
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align:center;
	left: 10px;
	right: 120px;
	bottom: 20px;
	overflow: auto;
	color: #ffffff;
	background: #000000;
}